In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

### Start Spark Session

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('TreeEnsembles').getOrCreate()

### Read CSV Data

In [4]:
df = spark.read.csv('College.csv', inferSchema=True, header=True)

### Data Exploration

In [5]:
df.count()

777

In [7]:
df.printSchema()

root
 |-- School: string (nullable = true)
 |-- Private: string (nullable = true)
 |-- Apps: integer (nullable = true)
 |-- Accept: integer (nullable = true)
 |-- Enroll: integer (nullable = true)
 |-- Top10perc: integer (nullable = true)
 |-- Top25perc: integer (nullable = true)
 |-- F_Undergrad: integer (nullable = true)
 |-- P_Undergrad: integer (nullable = true)
 |-- Outstate: integer (nullable = true)
 |-- Room_Board: integer (nullable = true)
 |-- Books: integer (nullable = true)
 |-- Personal: integer (nullable = true)
 |-- PhD: integer (nullable = true)
 |-- Terminal: integer (nullable = true)
 |-- S_F_Ratio: double (nullable = true)
 |-- perc_alumni: integer (nullable = true)
 |-- Expend: integer (nullable = true)
 |-- Grad_Rate: integer (nullable = true)

In [8]:
df.describe().show()

+-------+--------------------+-------+------------------+------------------+----------------+------------------+------------------+-----------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+----------------+------------------+
|summary|              School|Private|              Apps|            Accept|          Enroll|         Top10perc|         Top25perc|      F_Undergrad|      P_Undergrad|          Outstate|        Room_Board|             Books|          Personal|               PhD|          Terminal|         S_F_Ratio|       perc_alumni|          Expend|         Grad_Rate|
+-------+--------------------+-------+------------------+------------------+----------------+------------------+------------------+-----------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+----------------+------------------+
|  count|                 777|    777|               777|               777|             777|               777|               777|              777|              777|               777|               777|               777|               777|               777|               777|               777|               777|             777|               777|
|   mean|                null|   null|3001.6383526383524|2018.8043758043757|779.972972972973| 27.55855855855856|  55.7966537966538|3699.907335907336|855.2985842985843| 10440.66924066924| 4357.526383526383| 549.3809523809524|1340.6422136422136| 72.66023166023166| 79.70270270270271|14.089703989703986|22.743886743886744|9660.17117117117| 65.46332046332046|
| stddev|                null|   null|3870.2014844352884|  2451.11397099263| 929.17619013287|17.640364385452134|19.804777595131373|4850.420530887386|1522.431887295513|4023.0164841119727|1096.6964155935289|165.10536013709253|  677.071453590578|16.328154687939314|14.722358527903374|3.9583491352055478| 12.39180148937615|5221.76843985609|17.177709897155403|
|    min|Abilene Christian...|     No|                81|                72|              35|                 1|                 9|              139|                1|              2340|              1780|                96|               250|                 8|                24|               2.5|                 0|            3186|                10|
|    max|York College of P...|    Yes|             48094|             26330|            6392|                96|               100|            31643|            21836|             21700|              8124|              2340|              6800|               103|               100|              39.8|                64|           56233|               118|
+-------+--------------------+-------+------------------+------------------+----------------+------------------+------------------+-----------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+----------------+------------------+

In [9]:
df.show(10, truncate=False)

+----------------------------+-------+----+------+------+---------+---------+-----------+-----------+--------+----------+-----+--------+---+--------+---------+-----------+------+---------+
|School                      |Private|Apps|Accept|Enroll|Top10perc|Top25perc|F_Undergrad|P_Undergrad|Outstate|Room_Board|Books|Personal|PhD|Terminal|S_F_Ratio|perc_alumni|Expend|Grad_Rate|
+----------------------------+-------+----+------+------+---------+---------+-----------+-----------+--------+----------+-----+--------+---+--------+---------+-----------+------+---------+
|Abilene Christian University|Yes    |1660|1232  |721   |23       |52       |2885       |537        |7440    |3300      |450  |2200    |70 |78      |18.1     |12         |7041  |60       |
|Adelphi University          |Yes    |2186|1924  |512   |16       |29       |2683       |1227       |12280   |6450      |750  |1500    |29 |30      |12.2     |16         |10527 |56       |
|Adrian College              |Yes    |1428|1097  |336   |22       |50       |1036       |99         |11250   |3750      |400  |1165    |53 |66      |12.9     |30         |8735  |54       |
|Agnes Scott College         |Yes    |417 |349   |137   |60       |89       |510        |63         |12960   |5450      |450  |875     |92 |97      |7.7      |37         |19016 |59       |
|Alaska Pacific University   |Yes    |193 |146   |55    |16       |44       |249        |869        |7560    |4120      |800  |1500    |76 |72      |11.9     |2          |10922 |15       |
|Albertson College           |Yes    |587 |479   |158   |38       |62       |678        |41         |13500   |3335      |500  |675     |67 |73      |9.4      |11         |9727  |55       |
|Albertus Magnus College     |Yes    |353 |340   |103   |17       |45       |416        |230        |13290   |5720      |500  |1500    |90 |93      |11.5     |26         |8861  |63       |
|Albion College              |Yes    |1899|1720  |489   |37       |68       |1594       |32         |13868   |4826      |450  |850     |89 |100     |13.7     |37         |11487 |73       |
|Albright College            |Yes    |1038|839   |227   |30       |63       |973        |306        |15595   |4400      |300  |500     |79 |84      |11.3     |23         |11644 |80       |
|Alderson-Broaddus College   |Yes    |582 |498   |172   |21       |44       |799        |78         |10468   |3380      |660  |1800    |40 |41      |11.5     |15         |8991  |52       |
+----------------------------+-------+----+------+------+---------+---------+-----------+-----------+--------+----------+-----+--------+---+--------+---------+-----------+------+---------+
only showing top 10 rows

### Feature Engineering