In [189]:
sc

In [190]:
import random
num_samples = 100000000

def inside(p):     
  x, y = random.random(), random.random()
  return x*x + y*y < 1

count = sc.parallelize(range(0, num_samples)).filter(inside).count()

pi = 4 * count / num_samples
print(pi)

sc.stop()

3.14163624

In [11]:
print('Hello world!')

Hello world!

In [12]:
import pandas as pd

In [13]:
# Lecture 2 , date 4/14/2020

In [23]:
from pyspark.sql.types import Row
from datetime import datetime

In [24]:
simple_data = sc.parallelize([1, "alice", 50])
simple_data

ParallelCollectionRDD[36] at parallelize at PythonRDD.scala:195

In [25]:
simple_data.count()

3

In [26]:
simple_data.first()

1

In [27]:
simple_data.take(2)

[1, 'alice']

In [28]:
simple_data.collect()

[1, 'alice', 50]

In [29]:
records = sc.parallelize([[1, "Alice", 50], [2, "Bob", 100]])
records

ParallelCollectionRDD[42] at parallelize at PythonRDD.scala:195

In [30]:
records.collect()

[[1, 'Alice', 50], [2, 'Bob', 100]]

In [31]:
records.count()

2

In [32]:
records.first()

[1, 'Alice', 50]

In [33]:
records.take(2)

[[1, 'Alice', 50], [2, 'Bob', 100]]

In [34]:
df = records.toDF()

In [35]:
df

DataFrame[_1: bigint, _2: string, _3: bigint]

In [36]:
df.show()

+---+-----+---+
| _1|   _2| _3|
+---+-----+---+
|  1|Alice| 50|
|  2|  Bob|100|
+---+-----+---+

In [37]:
df.show(1)

+---+-----+---+
| _1|   _2| _3|
+---+-----+---+
|  1|Alice| 50|
+---+-----+---+
only showing top 1 row

In [38]:
data = sc.parallelize([Row(id=1,
                          name="Alice",
                          score=50)])
data

ParallelCollectionRDD[62] at parallelize at PythonRDD.scala:195

In [39]:
data.collect()

[Row(id=1, name='Alice', score=50)]

In [41]:
data.count()

1

In [43]:
df = data.toDF()
df.show()

+---+-----+-----+
| id| name|score|
+---+-----+-----+
|  1|Alice|   50|
+---+-----+-----+

In [45]:
data = sc.parallelize([Row(id=1,
                          name="Alice",
                        score=50),
                       Row(id=2,
                          name="Bob",
                        score=100),
                       Row(id=3,
                          name="Charlee",
                          score=150)])
data

ParallelCollectionRDD[81] at parallelize at PythonRDD.scala:195

In [48]:
df =data.toDF()
df.show()

+---+-------+-----+
| id|   name|score|
+---+-------+-----+
|  1|  Alice|   50|
|  2|    Bob|  100|
|  3|Charlee|  150|
+---+-------+-----+

In [49]:
complex_data = sc.parallelize([Row(
                                col_float=1.44,
                                col_integer=10,
                                col_string="John")])

In [50]:
complex_data_df = complex_data.toDF()
complex_data_df.show()

+---------+-----------+----------+
|col_float|col_integer|col_string|
+---------+-----------+----------+
|     1.44|         10|      John|
+---------+-----------+----------+

In [51]:
complex_data = sc.parallelize([Row(
                                col_float = 1.44,
                                col_integer = 10,
                                col_string = "John",
                                col_boolean = True,
                                col_list = [1, 2, 3])])

In [53]:
complex_data_df = complex_data.toDF()
complex_data_df.show()

+-----------+---------+-----------+---------+----------+
|col_boolean|col_float|col_integer| col_list|col_string|
+-----------+---------+-----------+---------+----------+
|       true|     1.44|         10|[1, 2, 3]|      John|
+-----------+---------+-----------+---------+----------+

In [59]:
complex_data = sc.parallelize([Row(
                                col_list=[1,2,3],
                                col_dic={"k1":0},
                                col_row=Row(a=10, b=20, c=30),
                                col_time=datetime(2014,8,1,14,1,5)),
                                Row(
                                col_list=[1,2,3,4,5],
                                col_dic={"k1":0, "k2":1},
                                col_row=Row(a=40, b=50, c=60),
                                col_time=datetime(2014,8,1,14,1,6)),
                                Row(
                                col_list=[1,2,3,4,5,6,7,8,9],
                                col_dic={"k1":0, "k2":1, "k3":2},
                                col_row=Row(a=70, b=80, c=90),
                                col_time=datetime(2014,8,1,14,1,7)
                                )])

In [61]:
complex_data_df = complex_data.toDF()
complex_data_df.show()

+--------------------+--------------------+------------+-------------------+
|             col_dic|            col_list|     col_row|           col_time|
+--------------------+--------------------+------------+-------------------+
|           [k1 -> 0]|           [1, 2, 3]|[10, 20, 30]|2014-08-01 14:01:05|
|  [k1 -> 0, k2 -> 1]|     [1, 2, 3, 4, 5]|[40, 50, 60]|2014-08-01 14:01:06|
|[k3 -> 2, k1 -> 0...|[1, 2, 3, 4, 5, 6...|[70, 80, 90]|2014-08-01 14:01:07|
+--------------------+--------------------+------------+-------------------+

In [130]:
sqlContext=SQLContext(sc)
sqlContext

In [131]:
df = sqlContext.range(5)
df

DataFrame[id: bigint]

In [132]:
df.count()

5

In [133]:
df.show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
+---+

In [134]:
data = [('Alice', 50),
       ('Bob', 80),
       ('Charlee', 75)]

In [135]:
sqlContext.createDataFrame(data).show()

+-------+---+
|     _1| _2|
+-------+---+
|  Alice| 50|
|    Bob| 80|
|Charlee| 75|
+-------+---+

In [136]:
complex_data = [
                (1.0,
                10,
                "Alice",
                True,
                [1,2,3],
                {'k1':0},
                Row(a=1, b=2, c=3),
                datetime(2014,8,1, 14,1,5)),
                
                (2.0,
                20,
                "Bob",
                True,
                [1,2,3,4,5],
                {'k1':0, 'k2':1},
                Row(a=1, b=2, c=3),
                datetime(2014,8,1, 14,1,5)),
    
                (3.0,
                30,
                "Charlee",
                False,
                [1,2,3,4,5,6,7],
                {'k1':0, 'k2':1, 'k3':2},
                Row(a=1, b=2, c=3),
                datetime(2014,8,1, 14,1,5)),
]

In [137]:
sqlContext.createDataFrame(complex_data).show()

+---+---+-------+-----+--------------------+--------------------+---------+-------------------+
| _1| _2|     _3|   _4|                  _5|                  _6|       _7|                 _8|
+---+---+-------+-----+--------------------+--------------------+---------+-------------------+
|1.0| 10|  Alice| true|           [1, 2, 3]|           [k1 -> 0]|[1, 2, 3]|2014-08-01 14:01:05|
|2.0| 20|    Bob| true|     [1, 2, 3, 4, 5]|  [k1 -> 0, k2 -> 1]|[1, 2, 3]|2014-08-01 14:01:05|
|3.0| 30|Charlee|false|[1, 2, 3, 4, 5, 6...|[k3 -> 2, k1 -> 0...|[1, 2, 3]|2014-08-01 14:01:05|
+---+---+-------+-----+--------------------+--------------------+---------+-------------------+

In [154]:
complex_data_df = sqlContext.createDataFrame(complex_data,[
    'col_integer',
    'col_float',
    'col_string',
    'col_boolean',
    'col_list',
    'col_dictionary',
    'col_row',
    'col_date_time'
])
complex_data_df.show()

+-----------+---------+----------+-----------+--------------------+--------------------+---------+-------------------+
|col_integer|col_float|col_string|col_boolean|            col_list|      col_dictionary|  col_row|      col_date_time|
+-----------+---------+----------+-----------+--------------------+--------------------+---------+-------------------+
|        1.0|       10|     Alice|       true|           [1, 2, 3]|           [k1 -> 0]|[1, 2, 3]|2014-08-01 14:01:05|
|        2.0|       20|       Bob|       true|     [1, 2, 3, 4, 5]|  [k1 -> 0, k2 -> 1]|[1, 2, 3]|2014-08-01 14:01:05|
|        3.0|       30|   Charlee|      false|[1, 2, 3, 4, 5, 6...|[k3 -> 2, k1 -> 0...|[1, 2, 3]|2014-08-01 14:01:05|
+-----------+---------+----------+-----------+--------------------+--------------------+---------+-------------------+

In [155]:
data = sc.parallelize([
    Row(1, 'Alice', 50),
    Row(2, 'Bob', 100),
    Row(3, 'Charlee', 150)
])

In [156]:
column_names = Row('id', 'name', 'score')
students = data.map(lambda r: column_names(*r))

In [157]:
students

PythonRDD[369] at RDD at PythonRDD.scala:53

In [158]:
students.collect()

[Row(id=1, name='Alice', score=50),
 Row(id=2, name='Bob', score=100),
 Row(id=3, name='Charlee', score=150)]

In [159]:
students_df = sqlContext.createDataFrame(students)
students_df

DataFrame[id: bigint, name: string, score: bigint]

In [160]:
students_df.show()

+---+-------+-----+
| id|   name|score|
+---+-------+-----+
|  1|  Alice|   50|
|  2|    Bob|  100|
|  3|Charlee|  150|
+---+-------+-----+

In [161]:
complex_data_df.first()

Row(col_integer=1.0, col_float=10, col_string='Alice', col_boolean=True, col_list=[1, 2, 3], col_dictionary={'k1': 0}, col_row=Row(a=1, b=2, c=3), col_date_time=datetime.datetime(2014, 8, 1, 14, 1, 5))

In [162]:
complex_data_df.take(2)

[Row(col_integer=1.0, col_float=10, col_string='Alice', col_boolean=True, col_list=[1, 2, 3], col_dictionary={'k1': 0}, col_row=Row(a=1, b=2, c=3), col_date_time=datetime.datetime(2014, 8, 1, 14, 1, 5)),
 Row(col_integer=2.0, col_float=20, col_string='Bob', col_boolean=True, col_list=[1, 2, 3, 4, 5], col_dictionary={'k1': 0, 'k2': 1}, col_row=Row(a=1, b=2, c=3), col_date_time=datetime.datetime(2014, 8, 1, 14, 1, 5))]

In [163]:
cell_string = complex_data_df.collect()[0][2]
cell_string

'Alice'

In [164]:
cell_list = complex_data_df.collect()[0][4]
cell_list

[1, 2, 3]

In [165]:
type(cell_list)

list

In [166]:
cell_list.append(100)
cell_list

[1, 2, 3, 100]

In [167]:
complex_data_df.show()

+-----------+---------+----------+-----------+--------------------+--------------------+---------+-------------------+
|col_integer|col_float|col_string|col_boolean|            col_list|      col_dictionary|  col_row|      col_date_time|
+-----------+---------+----------+-----------+--------------------+--------------------+---------+-------------------+
|        1.0|       10|     Alice|       true|           [1, 2, 3]|           [k1 -> 0]|[1, 2, 3]|2014-08-01 14:01:05|
|        2.0|       20|       Bob|       true|     [1, 2, 3, 4, 5]|  [k1 -> 0, k2 -> 1]|[1, 2, 3]|2014-08-01 14:01:05|
|        3.0|       30|   Charlee|      false|[1, 2, 3, 4, 5, 6...|[k3 -> 2, k1 -> 0...|[1, 2, 3]|2014-08-01 14:01:05|
+-----------+---------+----------+-----------+--------------------+--------------------+---------+-------------------+

In [168]:
complex_data_df.rdd\
                .map(lambda x: (x.col_string, x.col_dictionary))\
                .collect()

[('Alice', {'k1': 0}),
 ('Bob', {'k1': 0, 'k2': 1}),
 ('Charlee', {'k3': 2, 'k1': 0, 'k2': 1})]

In [169]:
complex_data_df.select(
    'col_string',
    'col_list',
    'col_date_time'
).show()

+----------+--------------------+-------------------+
|col_string|            col_list|      col_date_time|
+----------+--------------------+-------------------+
|     Alice|           [1, 2, 3]|2014-08-01 14:01:05|
|       Bob|     [1, 2, 3, 4, 5]|2014-08-01 14:01:05|
|   Charlee|[1, 2, 3, 4, 5, 6...|2014-08-01 14:01:05|
+----------+--------------------+-------------------+

In [170]:
complex_data_df.rdd\
                .map(lambda x: (x.col_string + ' Boo'))\
                .collect()

['Alice Boo', 'Bob Boo', 'Charlee Boo']

In [171]:
complex_data_df.select(
    'col_integer',
    'col_float',
    )\
    .withColumn(
    'col_sum',
    complex_data_df.col_integer + complex_data_df.col_float
    )\
    .show()

+-----------+---------+-------+
|col_integer|col_float|col_sum|
+-----------+---------+-------+
|        1.0|       10|   11.0|
|        2.0|       20|   22.0|
|        3.0|       30|   33.0|
+-----------+---------+-------+

In [173]:
complex_data_df.select('col_boolean')\
                .withColumn(
                    'col_opposite',
                        complex_data_df.col_boolean == False)\
                    .show()

+-----------+------------+
|col_boolean|col_opposite|
+-----------+------------+
|       true|       false|
|       true|       false|
|      false|        true|
+-----------+------------+

In [175]:
complex_data_df.withColumnRenamed('col_dictionary', 'col_map').show()

+-----------+---------+----------+-----------+--------------------+--------------------+---------+-------------------+
|col_integer|col_float|col_string|col_boolean|            col_list|             col_map|  col_row|      col_date_time|
+-----------+---------+----------+-----------+--------------------+--------------------+---------+-------------------+
|        1.0|       10|     Alice|       true|           [1, 2, 3]|           [k1 -> 0]|[1, 2, 3]|2014-08-01 14:01:05|
|        2.0|       20|       Bob|       true|     [1, 2, 3, 4, 5]|  [k1 -> 0, k2 -> 1]|[1, 2, 3]|2014-08-01 14:01:05|
|        3.0|       30|   Charlee|      false|[1, 2, 3, 4, 5, 6...|[k3 -> 2, k1 -> 0...|[1, 2, 3]|2014-08-01 14:01:05|
+-----------+---------+----------+-----------+--------------------+--------------------+---------+-------------------+

In [176]:
complex_data_df.select(complex_data_df.col_string.alias('Name')).show()

+-------+
|   Name|
+-------+
|  Alice|
|    Bob|
|Charlee|
+-------+

In [183]:
import pandas

In [184]:
df_pandas = complex_data_df.toPandas()

In [185]:
df_pandas

,col_integer,col_float,col_string,col_boolean,col_list,col_dictionary,col_row,col_date_time
0,1.0,10,Alice,True,"[1, 2, 3]",{'k1': 0},"(1, 2, 3)",2014-08-01 14:01:05
1,2.0,20,Bob,True,"[1, 2, 3, 4, 5]","{'k1': 0, 'k2': 1}","(1, 2, 3)",2014-08-01 14:01:05
2,3.0,30,Charlee,False,"[1, 2, 3, 4, 5, 6, 7]","{'k3': 2, 'k1': 0, 'k2': 1}","(1, 2, 3)",2014-08-01 14:01:05

In [186]:
df_spark = sqlContext.createDataFrame(df_pandas)
df_spark.show()

+-----------+---------+----------+-----------+--------------------+--------------------+---------+-------------------+
|col_integer|col_float|col_string|col_boolean|            col_list|      col_dictionary|  col_row|      col_date_time|
+-----------+---------+----------+-----------+--------------------+--------------------+---------+-------------------+
|        1.0|       10|     Alice|       true|           [1, 2, 3]|           [k1 -> 0]|[1, 2, 3]|2014-08-01 14:01:05|
|        2.0|       20|       Bob|       true|     [1, 2, 3, 4, 5]|  [k1 -> 0, k2 -> 1]|[1, 2, 3]|2014-08-01 14:01:05|
|        3.0|       30|   Charlee|      false|[1, 2, 3, 4, 5, 6...|[k3 -> 2, k1 -> 0...|[1, 2, 3]|2014-08-01 14:01:05|
+-----------+---------+----------+-----------+--------------------+--------------------+---------+-------------------+

In [187]:
type(df_spark)

pyspark.sql.dataframe.DataFrame

In [188]:
df_spark

DataFrame[col_integer: double, col_float: bigint, col_string: string, col_boolean: boolean, col_list: array<bigint>, col_dictionary: map<string,bigint>, col_row: struct<a:bigint,b:bigint,c:bigint>, col_date_time: timestamp]