In [13]:
from pyspark.sql import SparkSession

In [14]:
spark = SparkSession.builder\
                    .appName('Analying Students')\
                    .getOrCreate()

In [15]:
from pyspark.sql.types import Row
from datetime import datetime

In [16]:
record = sc.parallelize([Row(id=1,
                            name='Jill',
                            active=True,
                            clubs=['chess','hockey'],
                            subjects={'math':80, 'english':56},
                            enrolled=datetime(2014,8,1 ,14,1,5)),
                         Row(id=2,
                            name='George',
                            active=False,
                            clubs=['chess','soccer'],
                            subjects={'math':60, 'english':96},
                            enrolled=datetime(2015,3,21 ,8,2,5))])

In [17]:
record_df = record.toDF()
record_df.show()

+------+---------------+-------------------+---+------+--------------------+
|active|          clubs|           enrolled| id|  name|            subjects|
+------+---------------+-------------------+---+------+--------------------+
|  true|[chess, hockey]|2014-08-01 14:01:05|  1|  Jill|[english -> 56, m...|
| false|[chess, soccer]|2015-03-21 08:02:05|  2|George|[english -> 96, m...|
+------+---------------+-------------------+---+------+--------------------+

In [20]:
record_df.createOrReplaceTempView('records')

In [21]:
all_records_df = sqlContext.sql('SELECT * FROM records')
all_records_df.show()

+------+---------------+-------------------+---+------+--------------------+
|active|          clubs|           enrolled| id|  name|            subjects|
+------+---------------+-------------------+---+------+--------------------+
|  true|[chess, hockey]|2014-08-01 14:01:05|  1|  Jill|[english -> 56, m...|
| false|[chess, soccer]|2015-03-21 08:02:05|  2|George|[english -> 96, m...|
+------+---------------+-------------------+---+------+--------------------+

In [23]:
sqlContext.sql('SELECT id, clubs[1], subjects["english"] FROM records').show()

+---+--------+-----------------+
| id|clubs[1]|subjects[english]|
+---+--------+-----------------+
|  1|  hockey|               56|
|  2|  soccer|               96|
+---+--------+-----------------+

In [24]:
sqlContext.sql('SELECT id, NOT active FROM records').show()

+---+------------+
| id|(NOT active)|
+---+------------+
|  1|       false|
|  2|        true|
+---+------------+

In [25]:
sqlContext.sql('SELECT * FROM records WHERE subjects ["english"] > 90').show()

+------+---------------+-------------------+---+------+--------------------+
|active|          clubs|           enrolled| id|  name|            subjects|
+------+---------------+-------------------+---+------+--------------------+
| false|[chess, soccer]|2015-03-21 08:02:05|  2|George|[english -> 96, m...|
+------+---------------+-------------------+---+------+--------------------+

In [28]:
record_df.createOrReplaceGlobalTempView('global_records')

In [29]:
sqlContext.sql('SELECT * FROM global_temp.global_records').show()

+------+---------------+-------------------+---+------+--------------------+
|active|          clubs|           enrolled| id|  name|            subjects|
+------+---------------+-------------------+---+------+--------------------+
|  true|[chess, hockey]|2014-08-01 14:01:05|  1|  Jill|[english -> 56, m...|
| false|[chess, soccer]|2015-03-21 08:02:05|  2|George|[english -> 96, m...|
+------+---------------+-------------------+---+------+--------------------+

In [30]:
record_df.createTempView('global_records')

In [ ]:
from