In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder\
                    .appName('Analying Students')\
                    .getOrCreate()

In [3]:
from pyspark.sql.types import Row
from datetime import datetime

In [4]:
record = sc.parallelize([Row(id=1,
                            name='Jill',
                            active=True,
                            clubs=['chess','hockey'],
                            subjects={'math':80, 'english':56},
                            enrolled=datetime(2014,8,1 ,14,1,5)),
                         Row(id=2,
                            name='George',
                            active=False,
                            clubs=['chess','soccer'],
                            subjects={'math':60, 'english':96},
                            enrolled=datetime(2015,3,21 ,8,2,5))])

In [5]:
record_df = record.toDF()
record_df.show()

+---+------+------+---------------+--------------------+-------------------+
| id|  name|active|          clubs|            subjects|           enrolled|
+---+------+------+---------------+--------------------+-------------------+
|  1|  Jill|  true|[chess, hockey]|{english -> 56, m...|2014-08-01 14:01:05|
|  2|George| false|[chess, soccer]|{english -> 96, m...|2015-03-21 08:02:05|
+---+------+------+---------------+--------------------+-------------------+

In [6]:
record_df.createOrReplaceTempView('records')

In [7]:
all_records_df = sqlContext.sql('SELECT * FROM records')
all_records_df.show()

+---+------+------+---------------+--------------------+-------------------+
| id|  name|active|          clubs|            subjects|           enrolled|
+---+------+------+---------------+--------------------+-------------------+
|  1|  Jill|  true|[chess, hockey]|{english -> 56, m...|2014-08-01 14:01:05|
|  2|George| false|[chess, soccer]|{english -> 96, m...|2015-03-21 08:02:05|
+---+------+------+---------------+--------------------+-------------------+

In [8]:
sqlContext.sql('SELECT id, clubs[1], subjects["english"] FROM records').show()

+---+--------+-----------------+
| id|clubs[1]|subjects[english]|
+---+--------+-----------------+
|  1|  hockey|               56|
|  2|  soccer|               96|
+---+--------+-----------------+

In [9]:
sqlContext.sql('SELECT id, NOT active FROM records').show()

+---+------------+
| id|(NOT active)|
+---+------------+
|  1|       false|
|  2|        true|
+---+------------+

In [10]:
sqlContext.sql('SELECT * FROM records WHERE subjects ["english"] > 90').show()

+---+------+------+---------------+--------------------+-------------------+
| id|  name|active|          clubs|            subjects|           enrolled|
+---+------+------+---------------+--------------------+-------------------+
|  2|George| false|[chess, soccer]|{english -> 96, m...|2015-03-21 08:02:05|
+---+------+------+---------------+--------------------+-------------------+

In [11]:
record_df.createOrReplaceGlobalTempView('global_records')

In [12]:
sqlContext.sql('SELECT * FROM global_temp.global_records').show()

+---+------+------+---------------+--------------------+-------------------+
| id|  name|active|          clubs|            subjects|           enrolled|
+---+------+------+---------------+--------------------+-------------------+
|  1|  Jill|  true|[chess, hockey]|{english -> 56, m...|2014-08-01 14:01:05|
|  2|George| false|[chess, soccer]|{english -> 96, m...|2015-03-21 08:02:05|
+---+------+------+---------------+--------------------+-------------------+

In [13]:
record_df.createTempView('global_records')