reference: https://intellipaat.com/blog/tutorial/spark-tutorial/machine-learning-with-pyspark-tutorial/

In [1]:
from pyspark import SparkConf, SparkContext
from pyspark.sql import SQLContext

In [2]:
sc

In [3]:
fortune500_df = sqlContext.read.format('com.databricks.spark.csv')\
                            .options(header='true', inferschema='true')\
                            .load('Fortune_500_2017.csv')

In [4]:
fortune500_df.show(2)

+----+------------------+--------------------+---------+----------+--------------------+---------------+-------------------+-----------+-------+-----+------------+-------------------+--------------------+--------------------+------+--------------------+--------+---------+-------+----------+--------+-----------+
|Rank|             Title|             Website|Employees|    Sector|            Industry|     Hqlocation|             Hqaddr|     Hqcity|Hqstate|Hqzip|       Hqtel|                Ceo|           Ceo-title|             Address|Ticker|            Fullname|Revenues|Revchange|Profits|Prftchange|  Assets|Totshequity|
+----+------------------+--------------------+---------+----------+--------------------+---------------+-------------------+-----------+-------+-----+------------+-------------------+--------------------+--------------------+------+--------------------+--------+---------+-------+----------+--------+-----------+
|   1|           Walmart|http://www.walmar...|  2300000| Retailing|General Merchandi...|Bentonville, AR|702 S.W. Eighth St.|Bentonville|     AR|72716|479-273-4000|C. Douglas McMillon|President, Chief ...|702 S.W. Eighth S...|   WMT|Wal-Mart Stores, ...|  485873|      0.8|13643.0|      -7.2|198825.0|    77798.0|
|   2|Berkshire Hathaway|http://www.berksh...|   367700|Financials|Insurance: Proper...|      Omaha, NE|    3555 Farnam St.|      Omaha|     NE|68131|402-346-1400|  Warren E. Buffett|Chairman & Chief ...|3555 Farnam St., ...|  BRKA|Berkshire Hathawa...|  223604|      6.1|24074.0|         0|620854.0|   283001.0|
+----+------------------+--------------------+---------+----------+--------------------+---------------+-------------------+-----------+-------+-----+------------+-------------------+--------------------+--------------------+------+--------------------+--------+---------+-------+----------+--------+-----------+
only showing top 2 rows

In [5]:
fortune500_df2 = spark.read.format('csv')\
                            .options(header='true', inferschema='true')\
                            .load('Fortune_500_2017.csv')

In [6]:
fortune500_df2.show(3)

+----+------------------+--------------------+---------+----------+--------------------+---------------+-------------------+-----------+-------+-----+------------+-------------------+--------------------+--------------------+------+--------------------+--------+---------+-------+----------+--------+-----------+
|Rank|             Title|             Website|Employees|    Sector|            Industry|     Hqlocation|             Hqaddr|     Hqcity|Hqstate|Hqzip|       Hqtel|                Ceo|           Ceo-title|             Address|Ticker|            Fullname|Revenues|Revchange|Profits|Prftchange|  Assets|Totshequity|
+----+------------------+--------------------+---------+----------+--------------------+---------------+-------------------+-----------+-------+-----+------------+-------------------+--------------------+--------------------+------+--------------------+--------+---------+-------+----------+--------+-----------+
|   1|           Walmart|http://www.walmar...|  2300000| Retailing|General Merchandi...|Bentonville, AR|702 S.W. Eighth St.|Bentonville|     AR|72716|479-273-4000|C. Douglas McMillon|President, Chief ...|702 S.W. Eighth S...|   WMT|Wal-Mart Stores, ...|  485873|      0.8|13643.0|      -7.2|198825.0|    77798.0|
|   2|Berkshire Hathaway|http://www.berksh...|   367700|Financials|Insurance: Proper...|      Omaha, NE|    3555 Farnam St.|      Omaha|     NE|68131|402-346-1400|  Warren E. Buffett|Chairman & Chief ...|3555 Farnam St., ...|  BRKA|Berkshire Hathawa...|  223604|      6.1|24074.0|         0|620854.0|   283001.0|
|   3|             Apple|http://www.apple.com|   116000|Technology|Computers, Office...|  Cupertino, CA|    1 Infinite Loop|  Cupertino|     CA|95014|408-996-1010|    Timothy D. Cook|Chief Executive O...|1 Infinite Loop, ...|  AAPL|         Apple, Inc.|  215639|     -7.7|45687.0|     -14.4|321686.0|   128249.0|
+----+------------------+--------------------+---------+----------+--------------------+---------------+-------------------+-----------+-------+-----+------------+-------------------+--------------------+--------------------+------+--------------------+--------+---------+-------+----------+--------+-----------+
only showing top 3 rows

In [7]:
fortune500_df.printSchema()

root
 |-- Rank: integer (nullable = true)
 |-- Title: string (nullable = true)
 |-- Website: string (nullable = true)
 |-- Employees: integer (nullable = true)
 |-- Sector: string (nullable = true)
 |-- Industry: string (nullable = true)
 |-- Hqlocation: string (nullable = true)
 |-- Hqaddr: string (nullable = true)
 |-- Hqcity: string (nullable = true)
 |-- Hqstate: string (nullable = true)
 |-- Hqzip: integer (nullable = true)
 |-- Hqtel: string (nullable = true)
 |-- Ceo: string (nullable = true)
 |-- Ceo-title: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Ticker: string (nullable = true)
 |-- Fullname: string (nullable = true)
 |-- Revenues: string (nullable = true)
 |-- Revchange: double (nullable = true)
 |-- Profits: double (nullable = true)
 |-- Prftchange: string (nullable = true)
 |-- Assets: double (nullable = true)
 |-- Totshequity: double (nullable = true)

In [8]:
fortune500_df.describe().toPandas().transpose()

,0,1,2,3,4
summary,count,mean,stddev,min,max
Rank,500,250.492,144.47736623675496,1,500
Title,500,None,None,3M,salesforce.com
Website,500,None,None,http://ir.yumchina.com,http://www.zimmerbiomet.com
Employees,500,56350.132,123452.02592111082,83,2300000
Sector,500,None,None,Aerospace & Defense,Wholesalers
Industry,500,None,None,"Advertising, Marketing",Wholesalers: Health Care
Hqlocation,500,None,None,"Abbott Park, IL","Woonsocket, RI"
Hqaddr,500,None,None,1 ADP Blvd.,N56 W17000 Ridgewood Dr.
Hqcity,500,None,None,Abbott Park,Woonsocket
Hqstate,500,None,None,AL,WI
Hqzip,500,46791.714,30160.38476476254,1104,98188
Hqtel,500,None,None,201-801-0233,989-636-1000
Ceo,500,None,None,A. James Teague,Wilson R. Jones
Ceo-title,500,None,None,Chairman & Chief Executive Officer,"Principal Executive Officer, Co-President and ..."
Address,500,None,None,"1 ADP Blvd., Roseland, NJ 07068","N56 W17000 Ridgewood Dr., Menomonee Falls, WI ..."
Ticker,500,None,None,AA,ZBH
Fullname,500,None,None,"""Toys """"R"""" Us","salesforce.com, inc."
Revenues,500,24136.941883767537,38371.68185320528,"Inc.""",9888
Revchange,500,26.8424,516.3020792096739,-57.5,11540.0
Profits,500,1779.5473999999995,3937.527780297491,-6177.0,45687.0
Prftchange,500,-1.393724696356276,116.98116169613812,-0.2,99.7
Assets,500,80375.53559999999,270429.63559363637,5.8,3287968.0
Totshequity,500,13656.547,30517.31708304621,-12688.0,283001.0