In [146]:
from pyspark.sql import SparkSession
spark = SparkSession.builder\
                    .appName('Analyzing airline data')\
                    .getOrCreate()

In [147]:
from pyspark.sql.types import Row
from datetime import datetime

In [148]:
airlinesPath = '/Users/nli/dev/spark/datasets/flight-delays/airlines.csv'
flightsPath = '/Users/nli/dev/spark/datasets/flight-delays/flights.csv'
airportsPath = '/Users/nli/dev/spark/datasets/flight-delays/airports.csv'

In [149]:
airlines = spark.read\
                .format('csv')\
                .option('header', 'true')\
                .load(airlinesPath)

In [150]:
airlines.createOrReplaceTempView('airlines')

In [151]:
airlines = spark.sql('SELECT * FROM airlines')
airlines.columns

['IATA_CODE', 'AIRLINE']

In [152]:
airlines.show(5)

+---------+--------------------+
|IATA_CODE|             AIRLINE|
+---------+--------------------+
|       UA|United Air Lines ...|
|       AA|American Airlines...|
|       US|     US Airways Inc.|
|       F9|Frontier Airlines...|
|       B6|     JetBlue Airways|
+---------+--------------------+
only showing top 5 rows

In [153]:
flights = spark.read\
                .format('csv')\
                .option('header', 'true')\
                .load(flightsPath)

In [154]:
flights.createOrReplaceTempView('flights')
flights.columns

['YEAR',
 'MONTH',
 'DAY',
 'DAY_OF_WEEK',
 'AIRLINE',
 'FLIGHT_NUMBER',
 'TAIL_NUMBER',
 'ORIGIN_AIRPORT',
 'DESTINATION_AIRPORT',
 'SCHEDULED_DEPARTURE',
 'DEPARTURE_TIME',
 'DEPARTURE_DELAY',
 'TAXI_OUT',
 'WHEELS_OFF',
 'SCHEDULED_TIME',
 'ELAPSED_TIME',
 'AIR_TIME',
 'DISTANCE',
 'WHEELS_ON',
 'TAXI_IN',
 'SCHEDULED_ARRIVAL',
 'ARRIVAL_TIME',
 'ARRIVAL_DELAY',
 'DIVERTED',
 'CANCELLED',
 'CANCELLATION_REASON',
 'AIR_SYSTEM_DELAY',
 'SECURITY_DELAY',
 'AIRLINE_DELAY',
 'LATE_AIRCRAFT_DELAY',
 'WEATHER_DELAY']

In [155]:
flights.show(5)

+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+
|YEAR|MONTH|DAY|DAY_OF_WEEK|AIRLINE|FLIGHT_NUMBER|TAIL_NUMBER|ORIGIN_AIRPORT|DESTINATION_AIRPORT|SCHEDULED_DEPARTURE|DEPARTURE_TIME|DEPARTURE_DELAY|TAXI_OUT|WHEELS_OFF|SCHEDULED_TIME|ELAPSED_TIME|AIR_TIME|DISTANCE|WHEELS_ON|TAXI_IN|SCHEDULED_ARRIVAL|ARRIVAL_TIME|ARRIVAL_DELAY|DIVERTED|CANCELLED|CANCELLATION_REASON|AIR_SYSTEM_DELAY|SECURITY_DELAY|AIRLINE_DELAY|LATE_AIRCRAFT_DELAY|WEATHER_DELAY|
+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+
|2015|    1|  1|          4|     AS|           98|     N407AS|           ANC|                SEA|               0005|          2354|            -11|      21|      0015|           205|         194|     169|    1448|     0404|      4|             0430|        0408|          -22|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     AA|         2336|     N3KUAA|           LAX|                PBI|               0010|          0002|             -8|      12|      0014|           280|         279|     263|    2330|     0737|      4|             0750|        0741|           -9|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     US|          840|     N171US|           SFO|                CLT|               0020|          0018|             -2|      16|      0034|           286|         293|     266|    2296|     0800|     11|             0806|        0811|            5|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     AA|          258|     N3HYAA|           LAX|                MIA|               0020|          0015|             -5|      15|      0030|           285|         281|     258|    2342|     0748|      8|             0805|        0756|           -9|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     AS|          135|     N527AS|           SEA|                ANC|               0025|          0024|             -1|      11|      0035|           235|         215|     199|    1448|     0254|      5|             0320|        0259|          -21|       0|        0|               null|            null|          null|         null|               null|         null|
+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+
only showing top 5 rows

In [156]:
flights.count(), airlines.count()

(5819079, 14)

In [157]:
# flights.fillna(0)

In [158]:
flight_count = spark.sql('SELECT COUNT (*) FROM flights')
airlines_count = spark.sql('SELECT COUNT (*) FROM airlines')

In [159]:
flight_count, airlines_count

(DataFrame[count(1): bigint], DataFrame[count(1): bigint])

In [160]:
flight_count.collect()[0][0], airlines_count.collect()[0][0]

(5819079, 14)

In [161]:
total_distance_df = spark.sql('SELECT DISTANCE FROM flights')\
                            .agg({'DISTANCE': 'sum'})\
                            .withColumnRenamed('sum(DISTANCE)', 'total_distance')

In [162]:
total_distance_df.show()

+--------------+
|total_distance|
+--------------+
| 4.785357409E9|
+--------------+

In [163]:
all_delays_2014 = spark.sql(
                        'SELECT YEAR, MONTH, DAY, AIRLINE, FLIGHT_NUMBER, DEPARTURE_DELAY ' +
                        'FROM flights WHERE DEPARTURE_DELAY > 0 and YEAR = 2014')

In [164]:
all_delays_2014.show()

+----+-----+---+-------+-------------+---------------+
|YEAR|MONTH|DAY|AIRLINE|FLIGHT_NUMBER|DEPARTURE_DELAY|
+----+-----+---+-------+-------------+---------------+
+----+-----+---+-------+-------------+---------------+

In [165]:
all_delays_2015 = spark.sql(
                        'SELECT YEAR, MONTH, DAY, AIRLINE, FLIGHT_NUMBER, DEPARTURE_DELAY ' +
                        'FROM flights WHERE DEPARTURE_DELAY > 0 and YEAR = 2015')

In [166]:
all_delays_2015.show(5)

+----+-----+---+-------+-------------+---------------+
|YEAR|MONTH|DAY|AIRLINE|FLIGHT_NUMBER|DEPARTURE_DELAY|
+----+-----+---+-------+-------------+---------------+
|2015|    1|  1|     US|         2013|             14|
|2015|    1|  1|     DL|         1173|              3|
|2015|    1|  1|     NK|          520|             25|
|2015|    1|  1|     NK|          597|             12|
|2015|    1|  1|     AA|         2392|             21|
+----+-----+---+-------+-------------+---------------+
only showing top 5 rows

In [167]:
all_delays_2015.dtypes

[('YEAR', 'string'),
 ('MONTH', 'string'),
 ('DAY', 'string'),
 ('AIRLINE', 'string'),
 ('FLIGHT_NUMBER', 'string'),
 ('DEPARTURE_DELAY', 'string')]

In [168]:
all_delays_2015.createOrReplaceTempView('all_delays')

In [169]:
all_delays_2015.orderBy(all_delays_2015.DEPARTURE_DELAY.desc()).show(5)

+----+-----+---+-------+-------------+---------------+
|YEAR|MONTH|DAY|AIRLINE|FLIGHT_NUMBER|DEPARTURE_DELAY|
+----+-----+---+-------+-------------+---------------+
|2015|   12| 28|     DL|         2478|            999|
|2015|   10| 31|     AA|          301|            997|
|2015|    3|  2|     F9|          333|            996|
|2015|   10| 31|     OO|         4443|            995|
|2015|    6| 10|     UA|          200|            994|
+----+-----+---+-------+-------------+---------------+
only showing top 5 rows

In [170]:
delay_count = spark.sql('SELECT COUNT(DEPARTURE_DELAY) FROM all_delays')

In [171]:
delay_count.show()

+----------------------+
|count(DEPARTURE_DELAY)|
+----------------------+
|               2125618|
+----------------------+

In [172]:
delay_count.collect()[0][0]

2125618

In [173]:
delay_percent = delay_count.collect()[0][0] / flight_count.collect()[0][0] * 100
delay_percent

36.52842657747042

In [174]:
delay_per_airline = spark.sql('SELECT AIRLINE, DEPARTURE_DELAY FROM flights')\
                        .groupBy('AIRLINE')\
                        .agg({'DEPARTURE_DELAY':'avg'})\
                        .withColumnRenamed('avg(DEPARTURE_DELAY)', 'DEPARTURE_DELAY')

In [175]:
delay_per_airline.orderBy(delay_per_airline.DEPARTURE_DELAY.desc()).show(5)

+-------+------------------+
|AIRLINE|   DEPARTURE_DELAY|
+-------+------------------+
|     NK|15.944765880783688|
|     UA|14.435441010805953|
|     F9|13.350858345331709|
|     B6|  11.5143526744102|
|     WN|10.581986295158847|
+-------+------------------+
only showing top 5 rows

In [176]:
delay_per_airline.createOrReplaceTempView('delay_per_airline')

In [177]:
delay_per_airline = spark.sql('SELECT * FROM delay_per_airline ORDER BY DEPARTURE_DELAY DESC')

In [178]:
delay_per_airline.show(5)

+-------+------------------+
|AIRLINE|   DEPARTURE_DELAY|
+-------+------------------+
|     NK|15.944765880783688|
|     UA|14.435441010805953|
|     F9|13.350858345331709|
|     B6|  11.5143526744102|
|     WN|10.581986295158847|
+-------+------------------+
only showing top 5 rows

In [180]:
delay_per_airline = spark.sql('SELECT * FROM delay_per_airline ' +
                                'JOIN airlines ON airlines.IATA_CODE = delay_per_airline.AIRLINE ' +
                                 'ORDER BY DEPARTURE_DELAY DESC')

In [181]:
delay_per_airline.show(5)

+-------+------------------+---------+--------------------+
|AIRLINE|   DEPARTURE_DELAY|IATA_CODE|             AIRLINE|
+-------+------------------+---------+--------------------+
|     NK|15.944765880783688|       NK|    Spirit Air Lines|
|     UA|14.435441010805953|       UA|United Air Lines ...|
|     F9|13.350858345331709|       F9|Frontier Airlines...|
|     B6|  11.5143526744102|       B6|     JetBlue Airways|
|     WN|10.581986295158847|       WN|Southwest Airline...|
+-------+------------------+---------+--------------------+
only showing top 5 rows