reference https://towardsdatascience.com/six-spark-exercises-to-rule-them-all-24

In [1]:
# Download from source
# import pandas as pd
# from tqdm import tqdm
# import csv
# import random
# import string
# from pyspark.sql import SparkSession
# from pyspark.sql.functions import *

# random.seed(1999)

# letters = string.ascii_lowercase
# letters_upper = string.ascii_uppercase
# for _i in range(0, 10):
#     letters += letters

# for _i in range(0, 10):
#     letters += letters_upper


# def random_string(stringLength=10):
#     """Generate a random string of fixed length """
#     return ''.join(random.sample(letters, stringLength))


# print("Products between {} and {}".format(1, 75000000))
# product_ids = [x for x in range(1, 75000000)]
# dates = ['2020-07-01', '2020-07-02', '2020-07-03', '2020-07-04', '2020-07-05', '2020-07-06', '2020-07-07', '2020-07-08',
#          '2020-07-09', '2020-07-10']
# seller_ids = [x for x in range(1, 10)]


# #   Generate products
# products = [[0, "product_0", 22]]
# for p in tqdm(product_ids):
#     products.append([p, "product_{}".format(p), random.randint(1, 150)])
# #   Save dataframe
# df = pd.DataFrame(products)
# df.columns = ["product_id", "product_name", "price"]
# df.to_csv("products.csv", index=False)
# del df
# del products

# #   Generate sellers
# sellers = [[0, "seller_0", 2500000]]
# for s in tqdm(seller_ids):
#     sellers.append([s, "seller_{}".format(s), random.randint(12000, 2000000)])
# #   Save dataframe
# df = pd.DataFrame(sellers)
# df.columns = ["seller_id", "seller_name", "daily_target"]
# df.to_csv("sellers.csv", index=False)

# #   Generate sales
# total_rows = 500000
# prod_zero = int(total_rows * 0.95)
# prod_others = total_rows - prod_zero + 1
# df_array = [["order_id", "product_id", "seller_id", "date", "num_pieces_sold", "bill_raw_text"]]
# with open('sales.csv', 'w', newline='') as f:
#     csvwriter = csv.writer(f)
#     csvwriter.writerows(df_array)

# order_id = 0
# for i in tqdm(range(0, 40)):
#     df_array = []

#     for i in range(0, prod_zero):
#         order_id += 1
#         df_array.append([order_id, 0, 0, random.choice(dates), random.randint(1, 100), random_string(500)])

#     with open('sales.csv', 'a', newline='') as f:
#         csvwriter = csv.writer(f)
#         csvwriter.writerows(df_array)

#     df_array = []
#     for i in range(0, prod_others):
#         order_id += 1
#         df_array.append(
#             [order_id, random.choice(product_ids), random.choice(seller_ids), random.choice(dates),
#              random.randint(1, 100), random_string(500)])

#     with open('sales.csv', 'a', newline='') as f:
#         csvwriter = csv.writer(f)
#         csvwriter.writerows(df_array)

# print("Done")

# spark = SparkSession.builder \
#     .master("local") \
#     .config("spark.sql.autoBroadcastJoinThreshold", -1) \
#     .appName("Exercise1") \
#     .getOrCreate()

# products = spark.read.csv(
#     "products.csv", header=True, mode="DROPMALFORMED"
# )
# products.show()
# products.write.parquet("products_parquet", mode="overwrite")

# sales = spark.read.csv(
#     "sales.csv", header=True, mode="DROPMALFORMED"
# )
# sales.show()
# sales.repartition(200, col("product_id")).write.parquet("sales_parquet", mode="overwrite")

# sellers = spark.read.csv(
#     "sellers.csv", header=True, mode="DROPMALFORMED"
# )
# sellers.show()
# sellers.write.parquet("sellers_parquet", mode="overwrite")

Products between 1 and 75000000

100%|██████████| 74999999/74999999 [05:43<00:00, 218288.10it/s]
100%|██████████| 9/9 [00:00<00:00, 7917.10it/s]
100%|██████████| 40/40 [1:00:59<00:00, 91.50s/it]

Done
+----------+------------+-----+
|product_id|product_name|price|
+----------+------------+-----+
|         0|   product_0|   22|
|         1|   product_1|   30|
|         2|   product_2|   91|
|         3|   product_3|   37|
|         4|   product_4|  145|
|         5|   product_5|  128|
|         6|   product_6|   66|
|         7|   product_7|  145|
|         8|   product_8|   51|
|         9|   product_9|   44|
|        10|  product_10|   53|
|        11|  product_11|   13|
|        12|  product_12|  104|
|        13|  product_13|  102|
|        14|  product_14|   24|
|        15|  product_15|   14|
|        16|  product_16|   38|
|        17|  product_17|   72|
|        18|  product_18|   16|
|        19|  product_19|   46|
+----------+------------+-----+
only showing top 20 rows

+--------+----------+---------+----------+---------------+--------------------+
|order_id|product_id|seller_id|      date|num_pieces_sold|       bill_raw_text|
+--------+----------+---------+----------+---------------+--------------------+
|       1|         0|        0|2020-07-03|             98|frlnwjcoaxsaubnat...|
|       2|         0|        0|2020-07-07|             23|zsnrbwrlflvqqmbcz...|
|       3|         0|        0|2020-07-02|             79|gmxnirkafafnohboh...|
|       4|         0|        0|2020-07-07|              5|xrgknaskXkfcxcnzj...|
|       5|         0|        0|2020-07-10|             79|tzkqoynsqnfomkpbt...|
|       6|         0|        0|2020-07-05|             87|qoluiczrckaygkzbi...|
|       7|         0|        0|2020-07-08|             14|ivwpwrpuhrjgjdauj...|
|       8|         0|        0|2020-07-02|             64|hoalxshwHpqgyvqtm...|
|       9|         0|        0|2020-07-02|             45|vysrvsdfvekabcmwo...|
|      10|         0|        0|2020-07-05|             16|poiemeiqharpjqkao...|
|      11|         0|        0|2020-07-09|              4|badjqluozzjHbbjkv...|
|      12|         0|        0|2020-07-02|             58|fdgikecrmegaxfpvO...|
|      13|         0|        0|2020-07-02|             56|zhrkbicjlasuqqwsl...|
|      14|         0|        0|2020-07-04|             43|sivmclqcgiaspgomj...|
|      15|         0|        0|2020-07-05|             39|usobmyZrxjdzdrecl...|
|      16|         0|        0|2020-07-04|             79|zxbixfkhmydtewfje...|
|      17|         0|        0|2020-07-10|             81|aancisgpjaueusynm...|
|      18|         0|        0|2020-07-07|             62|gwkkxzjpdaaaskune...|
|      19|         0|        0|2020-07-07|             13|jmltpvkcizhepIwwh...|
|      20|         0|        0|2020-07-03|             69|sgicvswximmsqqtuj...|
+--------+----------+---------+----------+---------------+--------------------+
only showing top 20 rows

+---------+-----------+------------+
|seller_id|seller_name|daily_target|
+---------+-----------+------------+
|        0|   seller_0|     2500000|
|        1|   seller_1|     1375559|
|        2|   seller_2|      205349|
|        3|   seller_3|       71546|
|        4|   seller_4|     1315668|
|        5|   seller_5|      627802|
|        6|   seller_6|     1997104|
|        7|   seller_7|      593329|
|        8|   seller_8|       24388|
|        9|   seller_9|      348255|
+---------+-----------+------------+

In [1]:
spark

In [2]:
# spark = SparkSession.builder \
#     .master("local") \
#     .config("spark.sql.autoBroadcastJoinThreshold", -1) \
#     .config("spark.executor.memory", "500mb") \
#     .appName("Exercise1") \
#     .getOrCreate()

#### Warm-Up #1

- Find out how many orders, how many products and how many sellers are in the data.
- How many products have been sold at least once? Which is the product contained in more orders?

In [5]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [ ]:
# read from parquet
product_table = spark.read.parquet

In [13]:
# read from cdv
products_table = spark.read\
                .format('csv')\
                .option('header', 'true')\
                .load('./products.csv')

In [14]:
sales_table = spark.read\
                .format('csv')\
                .option('header', 'true')\
                .load('./sales.csv')

In [15]:
sellers_table = spark.read\
                .format('csv')\
                .option('header', 'true')\
                .load('./sellers.csv')

In [16]:
#   Print the number of orders
print("Number of Orders: {}".format(sales_table.count()))

Number of Orders: 20000040

In [17]:
#   Print the number of sellers
print("Number of sellers: {}".format(sellers_table.count()))

Number of sellers: 10

In [18]:
#   Print the number of products
print("Number of products: {}".format(products_table.count()))

Number of products: 75000000

In [24]:
#   Output how many products have been actually sold at least once
print("Number of products sold at least once")
sales_table.agg(countDistinct(col("product_id")).alias("products_sold_at_least_one_count")).show()

Number of products sold at least once
+--------------------------------+
|products_sold_at_least_one_count|
+--------------------------------+
|                          993299|
+--------------------------------+

In [27]:
#   Output which is the product that has been sold in more orders
print("Product present in more orders")
sales_table.groupBy(col("product_id"))\
            .agg(count("*").alias("cnt"))\
                 .orderBy(col("cnt").desc())\
                 .limit(1)\
                 .show()

Product present in more orders
+----------+--------+
|product_id|     cnt|
+----------+--------+
|         0|19000000|
+----------+--------+

#### Warm-up #2

How many distinct products have been sold in each day?

In [29]:
sales_table.groupby(col("date"))\
            .agg(countDistinct(col("product_id"))\
                 .alias("distinct_products_sold"))\
                    .orderBy(col("distinct_products_sold").desc())\
                        .show()

+----------+----------------------+
|      date|distinct_products_sold|
+----------+----------------------+
|2020-07-04|                100294|
|2020-07-03|                100224|
|2020-07-10|                100218|
|2020-07-08|                100048|
|2020-07-05|                 99991|
|2020-07-06|                 99869|
|2020-07-09|                 99801|
|2020-07-02|                 99768|
|2020-07-01|                 99755|
|2020-07-07|                 99453|
+----------+----------------------+

#### Exercise #1

##### What is the average revenue of the orders?

In [31]:
from pyspark.sql import Row
from pyspark.sql.types import IntegerType
# revenue = price * quantity

In [ ]:
# do the join the print the results
sales_table.join(products_table, sales_table["product_id"]==products_table["product_id"], "inner")\
                     .agg(avg(products_table["price"]*sales_table["num_pieces_sold"])).show()